<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo_bona" class="navbar-brand page-scroll" href="#page-top"><img src="/assets/bona_logo.png" style="height:130%"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top">Top</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Bonappetit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home/campaign">Campaign</a>
                    </li>
                    <% if user_signed_in? %>
                        <li>
                            <a href="/"><%= current_user.name %>님 환영합니다</a>
                        </li>
                        <li>
                            <a href="/users/sign_out">로그아웃</a>
                        </li>
                    <% else %>
                        <li>
                            <a href="/users/sign_in">로그인</a>
                        </li>
                    <% end %>
                </ul>

            </div>
            

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <!--<section id="intro" class="intro-section">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
    <!--                <h1>Scrolling Nav</h1>-->
    <!--                <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>-->
    <!--                <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <a class="page-scroll" href="#contact">
                <div class="fill" style="background-image:url('/assets/well_package2.png');"></div>
                </a>
                <!--<div class="carousel-caption">-->
                <!--    <h2>Caption 1</h2>-->
                <!--</div>-->
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <a href="/home/campaign">
                <div class="fill" style="background-image:url('/assets/put_exercise.png');"></div>
                </a>
                <!--<div class="carousel-caption">-->
                <!--    <h2>Caption 2</h2>-->
                <!--</div>-->
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/campain/campain1.jpg');"></div>
                <!--<div class="carousel-caption">-->
                <!--    <h2>Caption 3</h2>-->
                <!--</div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bonappetit</h1>
                    <img src="/assets/roast_egg.png" style="width:100%">
                    <img src="/assets/well_package.png" style="width:100%">
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section" style="background:#ffffff">
        
        
        <!--<div class="row">-->
        <!--    <div class=".col-xs-12 .col-md-8">-->
                <!--<img src="/assets/campain/campain1.jpg" style="width:100%">-->
        <!--        <img src="/assets/campain/campain2.png" style="width:60%">-->
        <!--        <img src="/assets/campain/campain3.jpg" style="width:60%">-->
        <!--        <img src="/assets/campain/campain4.jpg" style="width:60%">-->
        <!--        <img src="/assets/campain/campain5.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain6.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain7.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain8.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain9.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain10.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain11.jpg" style="width:60%">-->

        <!--    </div>-->
        <!--</div>-->
        
        <div class="container">
        
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </section>
